---
layout: main
---

<main class="project">
	<section id="contact-content">
		<img id="project-image" src="{{ page.image }}">
		<h1 id="project-title">{{ page.title }}</h1>
		<h2 id="project-repository"><a id="repository-link" href="{{ page.repository }}">Repository</a></h2>
		<h2 id="project-date">{{ page.date }}</h2><br/>

		{{ content }}

	</section>

	<style>
article {
    border: 2px solid black;
    background-color: lightgrey;
    width: 300px;
    padding: 0px 14px 0px 35px;
    margin: 10px;
}
</style>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var ToC = "<nav role='navigation' class='table-of-contents'>" +
    "<h2>Table of Contents:</h2>" +
    "<ul>";
    var el, title, link;

    $("h1,h2,h3,h4").each(function() {

    el = $(this);
    if (el.attr("id") != "index-ignore" && el.attr("id") != "portfolio-header" &&el.attr("id") != "project-title" && el.attr("id") != "project-repository" && el.attr("id") != "project-date") {
      title = el.text();
      link = "#" + el.attr("id");

      newLine =
        "<li>" +
          "<a href='" + link + "'>" +
            title +
          "</a>" +
        "</li>";

      ToC += newLine;
    }
});
    ToC += "</ul>" + "</nav>";
    $("article").prepend(ToC);
});


$(document).ready(function(){
	var rep = $("#repository-link").attr('href');
	if (rep == "") {
		$("#project-repository").text("");
	};
});

</script>
</head>

</main>